@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}
body {
  user-select: none;
}
/* Hide scrollbar */
body::-webkit-scrollbar {
  width: 0.001em;
}

/* A n i m a t e   l o g o */

.animate-title {
  position: relative;
  /* font-size: 3rem; */
  opacity: 0;
  color: transparent;
  background: white;
  -webkit-background-clip: text;
  animation: fadeInAndScale 0.5s ease-in-out forwards;
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-title.frame-1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

.animate-title.frame-2 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

.animate-title.frame-3 {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* T y p i n g */

.typing-demo {
  width: 30.2ch;
  animation: typing 3s steps(212), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* S l i d e r */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 400px) {
  .swiperDiv {
    height: "400px";
  }
  .mySwiper {
    position: absolute;
    top: 250px;
    left: 50px;
    max-width: 150px;
  }
}

/* S k i l l s */
.image-container {
  border-radius: 10%;
  background-color: #e5e5e5;
  padding: 10px;
  overflow: hidden;
  max-width: 100px;
  max-height: 100px;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover {
  transform: scale(1.2);
  animation: none;
}

body {
  margin: 0;
  padding: 0;
  background: #262626;
}

ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #000000;
}

ul li:nth-child(2) a:before {
  background: #0077b5;
}

ul li:nth-child(3) a:before {
  background: #dd3f39;
}
ul li:nth-child(4) a:before {
  background: #1f7829;
}
a i:nth-child(4) span:before {
  color: #000000;
}
